---
layout: default
title: "Viktor Rosenfeld"
publications:

  - { label: "DEBS 2024",
      title: "Using and Enhancing NebulaStream – A Tutorial",
      authors: "Steffen Zeuch, Ankit Chaudhary, Viktor Rosenfeld, Taha Tekdogan, Adrian Michalke, Matthis Gördel, Ariane Ziehn, and Volker Markl",
      date: 2024,
      venue: "In The 18th ACM International Conference on Distributed and Event-based Systems (DEBS ’24), June 24–28, 2024, Villeurbanne, France",
      pdf-link: "https://dl.acm.org/doi/10.1145/3629104.3674126",
      code: "https://github.com/nebulastream/nebulastream-tutorial/tree/debs-tutorial",
      bibtex: "assets/publications/Zeuch_2024_Using/Zeuch_2024_Using.bib"}
  - { label: "PhD thesis",
      title: "Query Processing on Heterogeneous Systems (draft)",
      authors: "Viktor Rosenfeld",
      date: 2023,
      venue: "Technische Universität Berlin",
      pdf: "assets/publications/Rosenfeld_2023_PhD-Thesis/Rosenfeld_2023_PhD-Thesis.pdf",
      slides: "assets/publications/Rosenfeld_2023_PhD-Thesis/Rosenfeld_2023_PhD-Thesis.slides.pdf" }
  - { label: "ACM CSUR 2022",
      title: "Query Processing on Heterogeneous CPU/GPU Systems",
      authors: "Viktor Rosenfeld, Sebastian Breß, and Volker Markl",
      date: 2022,
      venue: "In ACM Comput. Surv. 55, 1, Article 11 (January 2023)",
      pdf-link: "https://dl.acm.org/doi/10.1145/3485126?cid=9965920515",
      bibtex: "assets/publications/Rosenfeld_2023_Query/Rosenfeld_2023_Query.bib" }
  - { label: "DATE 2020",
      title: "Efficient Compilation and Execution of JVM-Based Data Processing Frameworks on Heterogeneous Co-Processors",
      authors: "C. Kotselidis, I. Komnios, O. Akrivopoulos, S. Bress, K. Doka, H. Mohammed, G. Mylonas, V. Spitadakis, D. Strimpel, J. Fumero, F. S. Zakkak, M. Papadimitriou, M. Xekalaki, N. Foutris, A. Stratikopoulos, N. Koziris, I. Konstantinou, I. Mytilinis, C. Bitsakos, C. Tsalidis, C. Tselios, N. Kanakis, C. Lutz, V. Rosenfeld, and V. Markl",
      date: "2020",
      venue: "2020 Design, Automation & Test in Europe Conference & Exhibition (DATE), Grenoble, France, 2020, pp. 175-179",
      pdf-link: "https://ieeexplore.ieee.org/document/9116246",
      bibtex: "assets/publications/Kotselidis_2020_Efficient/Kotselidis_2020_Efficient.bib" }
  - { label: "DaMoN 2019", 
      title: "Performance Analysis and Automatic Tuning of Hash Aggregation on GPUs", 
      authors: "Viktor Rosenfeld, Sebastian Breß, Steffen Zeuch, Tilmann Rabl, and Volker Markl",
      date: "2019",
      venue: "In Proceedings of the 15th International Workshop on Data Management on New Hardware (DaMoN'19). Association for Computing Machinery, New York, NY, USA, Article 8, 1–11",
      pdf-link: "https://dl.acm.org/doi/10.1145/3329785.3329922?cid=99659205152",
      slides: "assets/publications/Rosenfeld_2019_Performance/Rosenfeld_2019_Performance.slides.pdf",
      poster: "assets/publications/Rosenfeld_2019_Performance/Rosenfeld_2019_Performance.poster.pdf",
      code: "https://git.tu-berlin.de/viktor-rosenfeld/gpu-hash-aggregation-analysis",
      bibtex: "assets/publications/Rosenfeld_2019_Performance/Rosenfeld_2019_Performance.bib" }
  - { label: "EDBT 2018", 
      title: "Efficient SIMD Vectorization for Hashing in OpenCL", 
      authors: "Tobias Behrens, Viktor Rosenfeld, Jonas Traub, Sebastian Breß, and Volker Markl", 
      date: "2018",
      venue: "Proceedings of the 21st International Conference on Extending Database Technology, EDBT 2018, Vienna, Austria, March 26-29", 
      pdf: "assets/publications/Behrens_2018_Efficient/Behrens_2018_Efficient.pdf", 
      code: "https://github.com/TU-Berlin-DIMA/OpenCL-SIMD-hashing", 
      poster: "assets/publications/Behrens_2018_Efficient/Behrens_2018_Efficient.poster.pdf", 
      bibtex: "assets/publications/Behrens_2018_Efficient/Behrens_2018_Efficient.bib" }
  - { label: "SoCC 2017",
      title: "Processing Java UDFs in a C++ environment", 
      authors: "Viktor Rosenfeld, Rene Mueller, Pinar Tözün, and Fatma Özcan", 
      date: "2017",
      venue: "In Proceedings of the 2017 Symposium on Cloud Computing (SoCC '17). Association for Computing Machinery, New York, NY, USA, 419–431",
      pdf-link: "https://dl.acm.org/doi/10.1145/3127479.3132022?cid=99659205152", 
      slides: "assets/publications/Rosenfeld_2017_Processing/Rosenfeld_2017_Processing.slides.pdf", 
      poster: "assets/publications/Rosenfeld_2017_Processing/Rosenfeld_2017_Processing.poster.pdf", 
      bibtex: "assets/publications/Rosenfeld_2017_Processing/Rosenfeld_2017_Processing.bib" }
  - { label: "ADMS 2015", 
      title: "The Operator Variant Selection Problem on Heterogeneous Hardware", 
      authors: "Viktor Rosenfeld, Max Heimel, Christoph Viebig, and, Volker Markl", 
      date: "2015",
      venue: "In the Proceedings of the Sixth International Workshop on Accelerating Analytics and Data Management Systems Using Modern Processor and Storage Architectures", 
      pdf: "assets/publications/Rosenfeld_2015_The-Operator/Rosenfeld_2015_The-Operator.pdf", 
      code: "https://gitlab.tubit.tu-berlin.de/viktor-rosenfeld/perseus/", 
      slides: "assets/publications/Rosenfeld_2015_The-Operator/Rosenfeld_2015_The-Operator.slides.pdf", 
      bibtex: "assets/publications/Rosenfeld_2015_The-Operator/Rosenfeld_2015_The-Operator.bib" }
  - { label: "Diplom thesis", 
      title: "A Linguistic Query Language On Top Of A Column-Oriented Main-Memory Database", 
      authors: "Viktor Rosenfeld", 
      date: "2012",
      venue: "Humboldt-Universität zu Berlin", 
      pdf: "assets/publications/Rosenfeld_2012_An-Implementation/Rosenfeld_2012_An-Implementation.pdf",
      slides: "assets/publications/Rosenfeld_2012_An-Implementation/Rosenfeld_2012_An-Implementation.slides.pdf",
      bibtex: "assets/publications/Rosenfeld_2012_An-Implementation/Rosenfeld_2012_An-Implementation.bib" }
  - { label: "Student project", 
      title: "An Implementation Of The Annis 2 Query Language", 
      authors: "Viktor Rosenfeld", 
      date: "2010",
      venue: "Humboldt-Universität zu Berlin", 
      pdf: "assets/publications/Rosenfeld_2010_An-Implementation/Rosenfeld_2010_An-Implementation.pdf",
      bibtex: "assets/publications/Rosenfeld_2010_An-Implementation/Rosenfeld_2010_An-Implementation.bib" }
  - { label: "DGfS 2009", 
      title: "Search and visualization of richly annotated corpora with ANNIS2", 
      authors: "Christian Chiarcos, Thomas Krause, Anke Lüdeling, Julia Ritz, Viktor Rosenfeld, Manfred Stede, Amir Zeldes, and Florian Zipser",
      date: "2009",
      venue: "In 31. Jahrestagung der Deutschen Gesellschaft für Sprachwissenschaft (Poster)",
      poster: "assets/publications/Chiarcos_2009_Search/Chiarcos_2009_Search.poster.pdf",
      bibtex: "assets/publications/Chiarcos_2009_Search/Chiarcos_2009_Search.bib" }

service:
  - what: "PC member"
    where: 
    - venue: "ADMS 2022"
      link: "https://www.adms-conf.org/adms_2022.html"
    - venue: "ADMS 2016"
      link: "https://www.adms-conf.org/adms_2016.html"
   
  - what: "External reviewer"
    where: 
    - venue: "VLDB 2022"
      link: "https://www.vldb.org/2022/"

theses:
  - who: "Daniel Castro"
    title: "Execution of User-Defined Functions Across Programming Language Boundaries in Data Processing Systems"
    what: "Master thesis"
    date: 2023
  - who: "Christoph Schulte"
    title: "Modeling Memory Contention on GPUs"
    what: "Master thesis"
    date: 2021
  - who: "Bhavesh Kumar"
    title: "Machine Learning Based Automatic Tuning of Hash Aggregation on GPUs"
    what: "Master thesis"
    date: 2020
  - who: "Christoph Schulte"
    title: "Modeling Memory Contention on GPUs"
    what: "Master thesis"
    date: 2016
  - who: "Larissa Granowsky"
    title: "Laufzeitanalyse von daten-parallelen Systemen auf Multicore-Prozessoren im Vergleich zu serieller Implementierung"
    what: "Bachelor thesis"
    date: 2016

teaching:
  - course: "Database Technology Lab (DBTLAB)"
    link: "https://moseskonto.tu-berlin.de/moses/modultransfersystem/bolognamodule/beschreibung/anzeigen.html?nummer=40037&version=9&sprache=2"
    type: "Master course"
    role: "Course instructor"
    when:
    - "Winter 2023"
    - "Winter 2022"
    - "Winter 2021"
  - course: "Informationssysteme und Datenanalyse (ISDA)"
    link: "https://moseskonto.tu-berlin.de/moses/modultransfersystem/bolognamodule/beschreibung/anzeigen.html?nummer=40002&version=11&sprache=1"
    type: "Bachelor course"
    role: "Teaching assistant"
    when:
    - "Summer 2022"
    - "Summer 2021"
  - course: "Database Technology (DBT)"
    link: "https://moseskonto.tu-berlin.de/moses/modultransfersystem/bolognamodule/beschreibung/anzeigen.html?nummer=40405&version=11&sprache=2"
    type: "Master course"
    role: "Teaching assistant"
    when:
    - "Winter 2021"
    - "Winter 2019"
    - "Winter 2018"
    - "Winter 2017"
  - course: "Datenbank Seminar (DBSEM)"
    link: "https://moseskonto.tu-berlin.de/moses/modultransfersystem/bolognamodule/beschreibung/anzeigen.html?nummer=40402&version=9&sprache=2"
    type: "Bachelor course"
    role: "Student mentoring"
    when:
    - "Winter 2021"
    - "Summer 2015"
    - "Winter 2015"
  - course: "Datenbank Praktikum (DBPRA)"
    link: "https://moseskonto.tu-berlin.de/moses/modultransfersystem/bolognamodule/beschreibung/anzeigen.html?nummer=40400&version=9&sprache=1"
    type: "Bachelor course"
    role: "Course instructor"
    when:
    - "Summer 2020"
    - "Summer 2017"
    - "Summer 2016"
  - course: "Big Data Analytics Project (BAPRO)"
    link: "https://moseskonto.tu-berlin.de/moses/modultransfersystem/bolognamodule/beschreibung/anzeigen.html?nummer=40494&version=4&sprache=2"
    type: "Master course"
    role: "Student mentoring"
    when:
    - "Summer 2017"
  - course: "Hot Topics in Information Management Seminar (IMSEM)"
    link: "https://moseskonto.tu-berlin.de/moses/modultransfersystem/bolognamodule/beschreibung/anzeigen.html?nummer=40001&version=9&sprache=2"
    type: "Master course"
    role: "Student mentoring"
    when:
    - "Summer 2016"
   
---

<!-- - - - - - - - - - - - - - - - -->

<div id="top" class="row">
<div class="col-sm-8">
  <h2> {{ page.title }} </h2>

  <p class="lead">
    Research associate at
    the <a href="https://www.tu.berlin/dima">Database Systems and
    Information Management</a> group at
    the <a href="https://www.tu.berlin/">Technische Universität
    Berlin</a>.
  </p>

  <p>
    My research interests are data management on modern hardware,
    focusing on heterogeneous CPU/GPU systems; data processing with
    user-defined functions, focusing on integrating JVM-based and native
    programming languages; adaptive query execution and auto-tuning
    techniques.
  </p>

  <p>
    Recently, I successfully defended my PhD thesis at TU Berlin under the supervision of <a href="https://www.tu.berlin/dima/ueber-uns/prof-dr-volker-markl">Volker Markl</a>, where I also collaborated with Sebastian Breß, <a href="https://www.user.tu-berlin.de/zeuchste/">Steffen Zeuch</a>, and <a href="https://hpi.de/rabl/team/prof-dr-tilmann-rabl.html">Tilmann Rabl</a>.
    During my PhD studies, I was fortunate to work at <a href="https://research.ibm.com/labs/almaden">IBM Research Almaden</a> as a student intern, under the mentorship of <a href="https://www.pinartozun.com/">Pınar Tözün</a>, Rene Mueller, and Fatma Özcan.
    Before, I received my Diplom-Informatik degree from <a href="http://www.hu-berlin.de/">Humboldt University Berlin</a>, under the supervision of <a href="https://www2.informatik.hu-berlin.de/~leser/">Ulf Leser</a>.
  </p>

</div>

<div class="col-sm-4">
<br/>
      <img src="assets/photo-hu-laptop.jpg" class="img-thumbnail" alt="Viktor Rosenfeld">
</div>

<div class="col-sm-8">
  <!-- empty to align contact info !-->
</div>

<div class="col-sm-4">
  <h4>Contact</h4>
  <dl class="dl-contact">
    <dt><span class="fa fa-envelope"/></span><dt><dd>viktor.rosenfeld@tu-berlin.de</dd>
    <dt><span class="fa fa-map-marker"></span></dt>
    <dd>Technische Universität Berlin<br/>
        Building EN, Room 721</br/>
        Einsteinufer 17<br/>
        10587 Berlin, Germany</dd>
    <dt></dt>
    <dd>
      <a href="https://github.com/he-sk"><span class="fa fa-github-square fa-lg fa-2x"></span></a>
      <a href="https://www.linkedin.com/in/viktor-rosenfeld/"><span class="fa fa-linkedin-square fa-lg fa-2x"></span></a>
      <a href="https://scholar.google.com/citations?user=gqkUEHMAAAAJ&hl=en&oi=ao"><span class="ai ai-google-scholar-square ai-2x" style="transform: translate(0%, 12%)"></span></a>
      <a href="https://dblp.org/pid/169/7279.html"><span class="ai ai-dblp-square ai-2x" style="transform: translate(0%, 12%)"></span></a>
    </dd>
   </dl>
</div>
</div>


<!-- - - - - - - - - - - - - - - - -->

<div id="publications" class="row">
<div class="col-sm-12">
<h2>Publications</h2>
<dl class="dl-horizontal">
{% for pub in page.publications %}
 <dt><span class="label label-primary">{{ pub.label }}</span><br/>
   {% if pub('pdf')? %}<a href="{{ pub.pdf }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i>&nbsp;PDF</a>{% endif %}
   {% if pub('pdf-link')? %}<a href="{{ pub.pdf-link }}" class="btn btn-default btn-xs"><i class="fa fa-external-link"></i>&nbsp;PDF</a>{% endif %}
   {% if pub('poster')? %}<a href="{{ pub.poster }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i>&nbsp;Poster</a>{% endif %}
   {% if pub('slides')? %}<a href="{{ pub.slides }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i>&nbsp;Slides</a>{% endif %}
   {% if pub('code')? %}<a href="{{ pub.code }}" class="btn btn-default btn-xs"><i class="fa fa-external-link"></i>&nbsp;Git</a>{% endif %}
   {% if pub('bibtex')? %}<a href="{{ pub.bibtex }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i>&nbsp;BibTeX</a>{% endif %}
	</dt>
  <dd><strong>{{ pub.title }}</strong>. {{ pub.authors }}. {{ pub.date }}. {{pub.venue}}.</dd> <br/>
{% endfor %}
</dl>
</div>
</div>

<!-- - - - - - - - - - - - - - - - -->

<div id="service" class="row">
<div class="col-sm-12">
<h2>Scientific Community Service</h2>
<ul>
{% for service in page.service %}
  <li>
     {{ service.what }}:
     {% for where in service.where %}
     <a href="{{ where.link }}">{{ where.venue }}</a>. 
     {% endfor %}
  </li>
{% endfor %}
</ul>
</div>
</div>

<div id="service" class="row">
<div  style="text-align: justify;" class="col-sm-12">
<h2>Thesis supervision</h2>
<ul>
{% for thesis in page.theses %}
<li>{{ thesis.who }}. <em>{{ thesis.title }}</em>. {{ thesis.what }}. {{ thesis.date }}.</li>
{% endfor %}
</ul>

<div id="service" class="row">
<div class="col-sm-12">
<h2>Teaching</h2>
<ul>
{% for teaching in page.teaching %}
  <li>
    <a href="{{teaching.link}}">{{teaching.course}}</a>. {{teaching.type}}. {{teaching.role}}.
    {% for when in teaching.when %}
    {{ when }}.
    {% endfor %}
  </li>
{% endfor %}
</ul>
